.button { 
   -fx-background-color: red; 
   -fx-text-fill: black; 
}

#c {
    -fx-stroke: black;
    -fx-stroke-width: 15;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
    -fx-fill: blue;
}